/.metadata/
/.recommenders/
*.index
Algorithm/.metadata/.log
*.lock
*.prefs
Algorithm/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/local-history.lucene60/segments_1
*.cfs
Algorithm/.metadata/.mylyn/tasks.xml.zip
Algorithm/.metadata/.mylyn/repositories.xml.zip
Algorithm/.metadata/.mylyn/.taskListIndex/segments_1
*.log
*.db
*.si
*.cfe
*.xml
*.ini
Algorithm/.metadata/.plugins/org.eclipse.oomph.setup/workspace.setup
Algorithm/.metadata/.plugins/org.eclipse.ui.intro/introstate
Algorithm/.metadata/.plugins/org.eclipse.epp.logging.aeri.ide/org.eclipse.epp.logging.aeri.ide.server/server-config.json
Algorithm/DFS problem/src/bb.java
